@import "normalize.css";

// $primary: #87c887;
// $secondary: #e9ffe9;
// $contact-box-color: #76e4c5;

$primary: #87c0c8;
$secondary: #e9f8ff;
$contact-box-color: #d1d07d;

// $primary: #c88787;
// $secondary: #ffe9e9;
// $contact-box-color: #be1212;

$accent: darken($primary, 10%);
$dark-accent: darken($accent, 10%);
$darkest-accent: darken($dark-accent, 10%);

$spacing-normal: 10px;
$spacing-small: 5px;

@mixin slight-shadow {
  box-shadow: 0 3px 5px -3px lighten(black, 25%);
}

:root {
  // font-size: 18px;
  font-size: 17px;
  font-family: serif;
}

body {
  display: flex;
}

#paper-area {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#resume-header {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 100%;
  padding: $spacing-normal;

  & > * {
    // Ensure header contents render over the background rectangles
    z-index: 2;
  }

  h1 {
    font-size: 2.5rem;
  };

  .bg-box {
    // Make sure the boxes are long enough to cover the header in slim, tall screens;
    $width-amount: 200%;

    top: 0;
    left: calc($width-amount / -2);
    width: $width-amount;
    height: 200%;
    position: absolute;
    z-index: 1;

    &:nth-child(4) {
      background-color: $darkest-accent;
      transform: rotate(45deg) translateY(-15%);
    }

    &:nth-child(3) {
      background-color: $dark-accent;
      transform: rotate(45deg) translateY(-45%);
    }

    &:nth-child(2) {
      background-color: $accent;
      transform: rotate(45deg) translateY(-65%);
    }

    &:nth-child(1) {
      background: linear-gradient(45deg, $accent, white);
      width: 80%;
      left: 25%;
      max-height: 100%;
    }
  }
}

#resume-body {
  display: flex;
  flex: 1;
  z-index: 3;
}

#resume-footer {
  display: flex;
  justify-content: space-between;
  padding: $spacing-normal;
  color: white;
  max-width: 100%;
  background-color: $primary;
}

.contact-section {
  @include slight-shadow;
  background: linear-gradient(to right, darken($contact-box-color, 20%), $contact-box-color);
  padding: $spacing-small;
  border-radius: 5px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  @supports not (-moz-appearance: none) {
    img {
      margin-right: $spacing-small;
    }
  }

  a {
    color: white;
  }

  a:hover {
    background-color: $accent;
  }
}

.contact-icon {
  filter: invert(100%);
  width: 1rem;
  height: 1rem;
}

#left-section {
  flex: 1;
  padding: $spacing-normal;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div:last-child {
    padding-top: $spacing-normal;
  }
}

#right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-normal;
  background-color: white;

  h2 {
    color: $darkest-accent;
    margin-bottom: $spacing-normal;
    background-color: $secondary;
    padding: $spacing-small;
  }
}

.info-block {
  margin-bottom: $spacing-normal;

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid $accent;
    margin-bottom: $spacing-small;

    h2, h3, h4, h5 {
      color: $dark-accent;
    }
  }
}

.tools-list-container {
  @include slight-shadow;

  background-color: lighten($primary, 13%);
  padding: $spacing-small;
  border-radius: 10px;
  margin-bottom: $spacing-normal;

  &:last-child {
    margin-bottom: 0;
  }

  h3:first-child {
    background-color: $primary;
    border-radius: $spacing-small $spacing-small 0 0;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }

  ul, ol {
    margin-top: $spacing-normal;
    margin-bottom: $spacing-normal;
  }
}

.todo-text {
  color: red;
}

@media print {
  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #paper-area {
    flex: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .contact-section {
    width: 40%;
    font-weight: 500;
  }

  #resume-body .contact-section {
    display: none;
  }
}

// All screens (not printing)
@media screen {
  body {
    justify-content: center;
    background-color: #c2c2c2;
  }

  #paper-area {
    background-color: white;
  }
}

// Screens wider than an upright mobile phone
@media screen and (min-width: 480px) {
  body {
    padding-top: $spacing-normal;
    padding-bottom: $spacing-normal;
  }

  #paper-area {
    width: 8.5in;
    height: 11in;
    box-shadow: 0 10px 15px 0 grey;
    border-radius: 10px;
  }

  #resume-header {
    flex-direction: row;
    border-radius: 10px 10px 0 0;
  }

  #resume-body .contact-section {
    display: none;
  }

  #right-section {
    h3 {
      font-size: 1.05em;
    }
  }

  #resume-footer {
    flex-direction: row;
    border-radius: 0 0 10px 10px;
  }

  .contact-section {
    width: 40%;
  }

  .info-block {
    header {
      flex-direction: row;
    }
    p {
      line-height: 1.2rem;
    }
  }
}

// Phone screens
@media screen and (max-width: 480px) {
  :root {
    font-size: 18px;
  }

  #resume-body {
    flex-direction: column;
  }

  #resume-header {
    flex-direction: column;

    .contact-section {
      display: none;
    }
  }

  #resume-footer {
    flex-direction: column;
  }

  .contact-section {
    flex: 1;
    margin-bottom: $spacing-normal;
  }

  .info-block header {
    flex-direction: column;
    h5 {
      margin-left: $spacing-small;
    }
  }
}