@import "normalize.css";

$primary: #87c887;
$secondary: #e9ffe9;

// $primary: #87c0c8;
// $secondary: #e9f8ff;

$accent: darken($primary, 10%);
$dark-accent: darken($accent, 10%);
$darkest-accent: darken($dark-accent, 10%);

$spacing-normal: 10px;
$spacing-small: 5px;

@media print {
  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #paper-area {
    flex: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen {
  body {
    justify-content: center;
    background-color: #c2c2c2;
    padding-top: $spacing-normal;
    padding-bottom: $spacing-normal;
  }

  #paper-area {
    width: 8.5in;
    height: 11in;
    background-color: white;
    box-shadow: 0 10px 15px 0 grey;
  }
}

body {
  display: flex;
}

#paper-area {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


#resume-header {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  padding: $spacing-normal;
  background: linear-gradient(45deg,
    $darkest-accent 20%,
    $dark-accent 20% 30%,
    $accent 30% 40%,
    $primary 40% 50%,
    white
  );
}

#resume-body {
  display: flex;
  flex: 1;
}

#resume-footer {
  padding: $spacing-normal;
  color: white;
  max-width: 100%;
  background-color: $primary;
}

.contact-section {
  color: $secondary;
  // background-color: $primary;
  width: 40%;
  background-color: $accent;
  padding: $spacing-small;
  border-radius: 5px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
}

.contact-icon {
  filter: invert(100%);
  width: 1rem;
  height: 1rem;
}

.left-section {
  flex: 1;
  padding: $spacing-normal;
  background-color: $secondary;
}

.right-section {
  flex: 2;
  padding: $spacing-normal;
  background-color: white;
}

.tools-list {
  background-color: lighten($primary, 10%);
  // background-color: $secondary;
  padding: $spacing-small;
  border-radius: 10px;
  margin-bottom: $spacing-normal;

  &:last-child {
    margin-bottom: 0;
  }
}